html, body {
  margin: 0;
  padding: 0;
  background-color: #2F4F30;
  color: white;
}

.titulo {
  text-align: center;
  background-color: chocolate;
  padding: 20px;
  font-size: 25px;
}

.carta {
  width: 130px;
  position: relative;
  left: 60px;
  margin-left: -30px;
  box-shadow: -10px 5px 10px #43484d;
  border-radius: 10px;
}

#bancaCartas, #jugadorCartas {
  height: 220px;
}
h1 {padding: 10px 5px;}

i {
  color: yellow
}